<!--<?xml version="1.0" encoding="UTF-8" ?>-->
<!--<!DOCTYPE configuration-->
<!--        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-3-config.dtd">-->
<!--<configuration>-->
<!--    <settings>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->
<!--&lt;!&ndash;    <plugins>&ndash;&gt;-->
<!--&lt;!&ndash;        &lt;!&ndash; 配置MyBatis-Plus分页插件 &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <plugin interceptor="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></plugin>&ndash;&gt;-->
<!--&lt;!&ndash;    </plugins>&ndash;&gt;-->
<!--</configuration>-->